<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>イメージカラー</title>
</head>
<body style="background-color: #c7e8cc;">
    <h1><%= name %>さんのイメージカラーは...</h1>
    <h2 style="color: <%- color %>;"><%= color %></h2>
    <p><a href="/public/color.html">もう一度試す</a></p>
</body>
</html>
